    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #525252;
      text-align: center;
    }
    
    html, body { 
        width:auto; 
        height:auto; 
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: #B3B3B3;
        shape-rendering: crispEdges;
    }
    .axis text {
        font-size: 10px;
        fill: #6B6B6B;
    }

    .popover {
        pointer-events: none;
    }

    .legendTitle {
        fill: #1A1A1A;
        color: #1A1A1A;
        text-anchor: middle;
        font-size: 10px;
    }

    .legendText {
        fill: #949494;
        text-anchor: start;
        font-size: 9px;
    }

    @media (min-width: 500px) {
      .col-sm-3, .col-sm-9 {
        float: left;
      }
      .col-sm-9 {
        width: 75%;
      }
      .col-sm-3 {
        width: 25%;
      }
    }
    
    #map,
    body,
    html {
        width:auto; 
        height:auto;
    }